apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: garbo-stage
resources:
  - ../../base
images:
  - name: ghcr.io/klimatbyran/pipeline-api
    newTag: '0.1.3' # {"$imagepolicy": "flux-system:pipeline-api-stage:tag"}
